@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    /* color: aqua; */
    opacity: 0.5;
    background-color: gold;
}

a:active {
    color: red;
}